@font-face{
    font-family: "Napoleodoni";
    src:url("./fonts/Napoleodoni.ttf");
}

*{
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

body{
    background:#282828;
    font-family: 'Napoleodoni', sans-serif;

}

header{
    color:#fff;

}
    header a{
        color:#fff;
        text-decoration: none;
    }
.logo-menu{
    background: #00171f;
}

    .logo-menu h2 {
        font-weight: 300;
        font-size: 30px;
    }

        .logo-menu .menu a{
            display: inline-block;
            padding: 40px 20px; 
        }

            .logo-menu .menu a:hover{
                border-bottom: 4px solid #ff9f1c;
                padding-bottom: 36px;
            }

